
  %a.header__body__foot--left--category--dropdwn--menu
    %a{:href => "#"} レディース
    %a{:href => "#"} メンズ
    %a{:href => "#"} ベビー・キッズ
    %a{:href => "#"} インテリア・住まい・小物
    %a{:href => "#"} 本・音楽・ゲーム
    %a{:href => "#"} おもちゃ・ホビー・グッズ
    %a{:href => "#"} コスメ・香水・美容
    %a{:href => "#"} 家電・スマホ・カメラ
    %a{:href => "#"} スポーツ・レジャー
    %a{:href => "#"} ハンドメイド
    %a{:href => "#"} チケット
    %a{:href => "#"} 自動車・オートバイ
    %a{:href => "#"} その他
    %a{:href => "#"} カテゴリー一覧