- @others.each do |other|
  .forth-box__body--content
    = link_to item_path(other.id) do
      .forth-box__body--content--head
        .forth-box__body--content--head--photo
          - other.images.first(1).each do |image|
            = image_tag image
      .forth-box__body--content--foot--detail
        .forth-box__body--content--foot--detail--name
          = other.name
          .forth-box__body--content--foot--detail--name--hide
        .forth-box__body--content--foot--detail--bottom-bar
          .forth-box__body--content--foot--detail--bottom-bar--price
            ¥
            = other.price.to_s(:delimited)
          -# 条件分岐によりいいねが付いているもののみ表示するようにする
          -# いいねテーブルをまだ作っていないため現状割愛
          -# .forth-box__body--content--foot--detail--bottom-bar--good
          -#   %i.far.fa-heart
          -#   .forth-box__body--content--foot--detail--bottom-bar--good--content
          -#     2