* {
  box-sizing: border-box;
}

.background {
  background-color: rgb(245, 245, 245);
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  position: relative;
  
  .area__popular-category__body__list--bottom a {
    @include body-list-bottom-a();

    .item {
      @include item();

      .item-img {
        @include item-img();
      }
      .gradient {
        @include gradient();
      }
      .image {
        @include image();
              
        .price {
          @include price();
        }
      }
    }
    .detail {
      @include detail();
    }
    .item:hover {
      border: solid 1px $blue;
    }
  }
  .area__popular-brand__body__list--bottom a {
    @include body-list-bottom-a();

    .item {
      @include item();

      .item-img {
        @include item-img();
      }
      .gradient {
        @include gradient();
      }
      .image {
        @include image();
              
        .price {
          @include price();
        }
      }
    }
    .detail {
      @include detail();
    }
    .item:hover {
      border: solid 1px $blue;
    }
  }
  a {
    display: block;
    color: #333;
    text-decoration: none;
  } 
  .exhibit-btn {
    z-index: 10;
    height: 160px;
    width: 160px;
    background-color: $red;
    right: 3%;
    bottom: 3%;
    position: fixed;
    border-radius: 50%;

    &__body {
      font-size: 22px;
      color: $white;
      text-align: center;
      padding-top: 32px;
    }
    .camera-img {
      height: 53.33px;
      width: 60px;
      font-size: 60px;
      color: $white;
      margin: 5px 50px;
    }
  }
  .header-sp {
    z-index: 5;
    height: 100px;
    background-color: $white;
    font-size: 14px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  }
  .header {
    z-index: 5;
    height: 100px;
    background-color: $white;
    font-size: 14px;
    position: relative;

    &__body {
      width: 1020px;
      margin: 0 auto;
      padding-top: 8px;

      &__head {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;

        &--left {

          .mercari-logo-l {
            height: 36px;
            width: 134px;
            margin-top: 2px;
          }
        }

        &--right {
          width: 100%;
          margin-left: 45px;
          position: relative;

          &--form-field {
            background-color: rgb(245, 245, 245);
            font-size: 16px;
            height: 40px;
            width: 93%;
            line-height: 1.4em;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(204, 204, 204);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-right: none;
            padding: 0px 0px 0px 10px;
          }
          .search-btn {
            height: 40px;
            width: 7%;
            position: absolute;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            cursor: pointer;
          }
        }
      }
      &__foot {
        margin-top: 8px;

        &--left {
          display: flex;

          &--category {
            margin-right: 20px;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            white-space: nowrap;
            padding-bottom: 7px;
            position: absolute;

            .fa.fa-list-ul {
              color: $red;
              margin-right: 3px;
            }
            &--l {
              color: #222;
              background-color: $white;
              display: none;
              position: absolute;
              height: 616px;
              width: 224px;
              font-size: 14px;
              list-style: none;
              line-height: 44px;
              padding: 0px 16px;
              filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
              margin-top: 7px;
              font-weight: normal;

              li:hover {
                color: $white;
                background-color: $red;
                margin: 0 -16px;
                padding: 0 16px;
              }
              &--m {
                color: #222;
                background-color: $white;
                display: none;
                position: absolute;
                height: 616px;
                width: 224px;
                top: 0;
                left: 224px;
                font-size: 14px;
                padding: 0px 16px;
                filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
                font-weight: normal;
                list-style: none;
                line-height: 30px;

                li:hover {
                  color: #222;
                  background-color: rgb(245, 245, 245);
                  margin: 0 -16px;
                  padding: 0 16px;
                }
              
                &--s {
                  color: #222;
                  background-color: $white;
                  display: none;
                  position: absolute;
                  height: 616px;
                  width: 270px;
                  top: 0;
                  left: 224px;
                  font-size: 14px;
                  padding: 0px 16px;
                  filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
                  font-weight: normal;
                  line-height: 30px;
                }
              }
            }
          }
          &--brand {
            margin-right: 20px;
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 36px;
            white-space: nowrap;
            padding-bottom: 7px;
            position: absolute;
            margin-left: 165px;

            .tag-img {
              height: 12px;
              width: 23px;
              color:  $red;
              margin-right: 1px;
            }

            .header__body__foot--left--brand--l {
              color: #222;
              background-color: $white;
              display: none;
              position: absolute;
              width: 224px;
              font-size: 14px;
              list-style: none;
              line-height: 44px;
              padding: 0px 16px;
              filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
              margin-top: 7px;
              font-weight: normal;
            }
            li:hover {
              color: $white;
              background-color: $red;
              margin: 0 -16px;
              padding: 0 16px;
            }
          }  
        }
        &--right {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          &--signup {
            background-color: $red;
            color: $white;
            border-style: solid;
            border-color: $red;
            border-radius: 4px;
            padding: 4px 10px;
          }
          &--login {
            color: $blue;
            line-height: 25px;
            border-width: 1px;
            border-style: solid;
            border-radius: 4px;
            padding: 4px 10px;
            margin-left: 11px;
          }
          &--good {
            padding-bottom: 13px;

            .fa-heart {
              font-size: 18px;
              color: #ccc;
              margin-right: 8px;
            }
          }
          .header__body__foot--right--good:hover {
            color: $blue;
            .fa-heart {
              color: $blue;
            }
          }
          &--notice {
            position: relative;
            padding-bottom: 16px;
            margin: 0 20px 0 60px;
            line-height: 1.6;

            .fa-bell {
              font-size: 18px;
              color: #ccc;
              left: -31px;
              position: absolute;
              padding-right: 16px;
              padding-bottom: 20px;
            }
            
            &--num {
              background-color: $red;
              color: $white;
              height: 17px;
              width: 17px;
              font-size: 12px;
              line-height: 18px;
              text-align: center;
              border-radius: 50%;
              position: absolute;
              top: -8px;
              left: -21px;
            }
            &--dropdwn {
              display: none;
              background-color: $white;
              width: 300px;
              top: 39px;
              left: -130px;
              position: absolute;
              filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));

              li {
                cursor: pointer;
              }
              li:hover {
                background-color: rgb(245, 245, 245);
              }

              a:hover {
                color: #333;
                background-color: rgb(230, 230, 230);
              }
              
              &--list {
                
                &--s {
                  height: 120px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  padding: 18px;
                  border-bottom: 1px solid rgb(230, 230, 230);

                  &--left {
                    img {
                      height: 48px;
                      width: 48px;
                    }
                  }
                  &--center {
                    padding: 0 18px;
                    &--detail {
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 3;
                      overflow: hidden;
                    }
                    &--time {
                      opacity: 0.6;
                    }
                  }
                  &--right {
                    .fa-chevron-right {
                      color: #ccc;
                    }
                    &--detail {
                      
                    }
                  }
                }
              }
            }
          }
          .header__body__foot--right--notice:hover {
            .fa-bell {
              color: $blue;
            }
            .header__body__foot--right--notice--text {
              color: $blue;
            }
            .header__body__foot--right--notice--dropdwn {
              color: #333;
            }
          }
          &--todo {
            position: relative;
            padding-bottom: 18px;
            margin-right: 20px;

            .fa-check {
              font-size: 18px;
              color: #ccc;
              margin-right: 10px;
            }
            &--dropdwn {
              display: none;
              background-color: $white;
              width: 300px;
              top: 40px;
              right: -50%;
              position: absolute;
              filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
              padding: 12px;

              &--list {
                background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/logo-gray-light-bf49bd7f43703356d83e9097214a2d23.svg");
                background-size: 78px 85px;
                color: #ccc;
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                background-position: center 40px;
                background-repeat: no-repeat;
                padding: 160px 0px 60px;
              }
            }
          }
          .header__body__foot--right--todo:hover {
            color: $blue;
            .fa-check {
              color: $blue;
            }
          }
          &--mypage {
            position: relative;
            padding-bottom: 10px;

            &--text {
            float: right;
            line-height: 2.2;
            }

            .mypage-icon-s {
              height: 32px;
              width: 32px;
              border-radius: 50%;
              margin-right: 10px;
            }

            &--dropdwn {
              display: none;
              background-color: $white;
              width: 320px;
              top: 43px;
              right: 0;
              position: absolute;
              filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
              clear: both;

              &--back {
                background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/user-bg-07a3d1eec321479f465363323ddeb262.jpg");
                background-size: 320px 80px;
                background-repeat: no-repeat;
                padding: 80px 0px 0px;
                position: relative;

                &--icon {
                  text-align: center;
                  bottom: -10px;
                  left: 40%;
                  position: absolute;

                  .mypage-icon-l {
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    filter: drop-shadow(0px 2px 4px rgba(0,0,0,0.2));
                  }
                }
              }
              &--name {
                text-align: center;
                padding: 12px;
              }
              &--count {
                display: flex;
                justify-content: center;
                &--evaluation {
                  margin-right: 10px;
                }
              }
              &--money {
                background-color: rgb(245, 245, 245);
                width: 300px;
                border: 1px solid rgb(230, 230, 230);
                margin: 10px;
                
                &--sales {
                  display: flex;
                  justify-content:space-between;
                  border-bottom: 1px solid rgb(230, 230, 230);
                  padding: 10px;
                  
                  &--left {
                    display: block;
                  }
                    
                  &--right {
                    display: block;
                    display: flex;
                    &--icon {
                      .fa-chevron-right {
                        opacity: 0.4;
                        margin-left: 10px;
                      }
                    }
                  }
                }
                &--point {
                  display: flex;
                  justify-content:space-between;
                  padding: 10px;

                  &--left {

                  }
                    
                  &--right {
                    display: flex;
                    
                    &--icon {
                      .fa-chevron-right {
                        opacity: 0.4;
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
              &--menu {
                
                &--list {
                  display: flex;
                  justify-content :space-between;
                  padding: 15px 18px;
                  border-top: 1px solid rgb(230, 230, 230);
                  .fa-chevron-right {
                    opacity: 0.4;
                    transition: 0.2s ease-in-out;
                  }
                }
              }
            }
          }
          .header__body__foot--right--mypage:hover {
            .header__body__foot--right--mypage--text {
              color: $blue;
            }
            .header__body__foot--right--mypage--dropdwn--count--evaluation:hover {
              color: #333;
              opacity: 0.7;
              text-decoration: underline;
            }
            .header__body__foot--right--mypage--dropdwn--count--exhibit:hover {
              color: #333;
              opacity: 0.7;
              text-decoration: underline;
            }
            .header__body__foot--right--mypage--dropdwn--money--sales:hover, .header__body__foot--right--mypage--dropdwn--money--point:hover {
              opacity: 0.7;
            }
            .header__body__foot--right--mypage--dropdwn--menu--list:hover {
              background-color: rgb(245, 245, 245);
              .fa-chevron-right {
                opacity: 1;
                margin-right: -3px;
              }
            }
          }


        }
      } 
    }
  }

  .swiper-container {

    .swiper-wrapper {
      
      .swiper-slide {
        max-height: 390px;
        position: relative;
        background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg");
        display: flex;
        justify-content: center;
        
        &--left {
          padding: 35px 0px 35px 0px;

          &--top {
            font-size: 60px;
            padding-bottom: 16px;
            font-weight: 600;
            line-height: 1.4;
          }  
          
          &--middle {
            font-size: 18px;
            line-height: 1.8;
            padding-bottom: 24px;
          }

          &--bottom {
            height: 50px;
            width: 150px;
            display: flex;

            &--app-store {

              .app-store-l {
                height: 50px;
                width: 170px;
              }
            }
            &--google-play {

              .google-play-l {
                height: 50px;
                width: 170px;
                margin-left: 8px;
              }
            }
          }
        }
        &--right {
          height: 390px;
          width: 440px;
          background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png");
          background-size: 440px 390px;
          margin-left: -100px;
        }
      }
      .swiper-slide2 {
        height:390px;
        background-image: image-url('top-banner-sale.png');
        background-position: center;
      }
      .swiper-slide3 {
        height:390px;
        background-image: image-url('top-banner-camp.jpg');
        background-position: center;
      }
    }
  }
  .area {
    width: 1020px;
    margin: 0 auto; 

    &__popular-category {
      
      &__head {
        @include items-header-head();

        &--title {
          @include items-header-title();
        }
          
        &--nav {
          @include items-header-nav();

          &--link-btn {
            @include items-header-link-btn();
          }
        }
      }
      &__body {
        margin-top: 30px;
        
        &__list {
          padding: 10px;

          &--top {
            @include items-body-top();

            &--left {
              @include items-body-left();
            }
            &--right {
              @include items-body-right();
            }
          }
          &--bottom {
            @include items-body-bottom();
          }
        }
      }
    }
    &__popular-brand {

      &__head {
        @include items-header-head();

        &--title{
          @include items-header-title();
        }
        &--nav {
          @include items-header-nav();

          &--link-btn {
            @include items-header-link-btn();
          }
        }
      }
      &__body {
        margin-top: 30px;

        &__list {
          padding: 10px;

          &--top {
            @include items-body-top();

            &--left {
              @include items-body-left();
            }
            &--right {
              @include items-body-right();
            }
          }
          &--bottom {
            @include items-body-bottom();
          }
        }
      }
    }
  }
  .footer {
    &__head {
      height: 260px;
      margin: 0 calc(50% - 50vw);
      background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg");
      background-size: cover;

      &__area {
        width: 750px;
        display: flex;
        justify-content: space-between;
        margin: 0px auto;

        &--left-text {
          padding-top: 40px;

          &--top {
            color: $white;
            font-size: 24px;
            font-weight: 600;
          }
          &--middle {
            color: $white;
            font-size: 35px;
            margin-bottom: 10px;
          }
          &--bottom {
            display: flex;
            align-items: center;

            &--mercari-logo {

              .mercari-logo-s {
                height: 68px;
                width: 68px;
                margin-right: 20px;
              }
            }
              
            &--app-store {

              .app-store-s {
                height: 40px;
                width: 144px;
                margin-right: 8px;
              }
            }
            &--google-play {

              .google-play-s {
                height: 40px;
                width: 144px;
              }
            }
          }
        }
        &--right {

          .phone-img-s {
            height: 260px;
            width: 300px;
          }
        }
      } 
    }
    &__foot {
      background-color: rgb(34, 34, 34);
      color: $white;
      height: 390px;
      font-size: 12px;
      padding: 0px 20px 10px;
      margin: 0 calc(50% - 50vw);

      &__body {
        width: 1020px;
        margin: 0 auto;

        &--top {
          display: flex;
          justify-content: space-between;

          &--about {
            width: auto;
            padding-right: 40px;
            margin-top: 16px;

            &--name {
              @include footer-head-name();
            }
            &--list {
              
              &--s {
                color: $white;
                margin-top: 16px;
                opacity: 0.7;
              }
              &--s:hover {
                text-decoration: underline solid rgba(255,255,255,0.7);
              }
              &--icon {
                display: flex;
                margin-top: 30px;
              }
            }
          }  
          &--help {
            width: auto;
            padding-right: 40px;
            margin-top: 16px;

            &--name {
              @include footer-head-name();
            }
            &--list {
              opacity: 0.7;

              &--s {
                color: $white;
                margin-top: 16px;
              }
              &--s:hover {
                text-decoration: underline solid rgba(255,255,255,0.7);
              }
            }
          }
          &--privacy {
            width: 43%;
            margin-top: 16px;

            &--name {
              @include footer-head-name();
            }
            
            &--list {
              display: flex;
              opacity: 0.7;

              &--left {
                padding-right: 40px;

                &--s {
                  color: $white;
                  margin-top: 16px;
                }
                &--s:hover {
                  text-decoration: underline solid rgba(255,255,255,0.7);
                }
              }
              &--right {
                padding-right: 40px;

                &--s {
                  color: $white;
                  margin-top: 16px;
                }
                &--s:hover {
                  text-decoration: underline solid rgba(255,255,255,0.7);
                }
              }
            }
          }
          &--country {
            width: auto;
            padding-right: 40px;
            margin-top: 18px;

            &--name {
              @include footer-head-name();
            }
            &--list {
              opacity: 0.7;

              &--s {
                color: $white;
                margin-top: 18px;
              }
              &--s:hover {
                text-decoration: underline solid rgba(255,255,255,0.7);
              }
            }
          }
        }
        &--bottom {
          margin: 30px auto 20px;

          &--left {

            .mercari-logo-white {
              height: 33px;
              width: 124px;
              float: left;
              margin-top: -10px;
            }
          }
          &--right {
            text-align: center;
          }
        }
      }
    }
  }
}
.twitter-logo-foot {
  color: $white;
  height: 32px;
  width: 32px;
  margin-right: 20px;
}
.facebook-logo-foot {
  color: $white;
  height: 30px;
  width: 30px;
}