.profile {
  float: right;
  width: 700px;
  background-color: #fff;
  color: rgb(51, 51, 51);

  &-head {
    font-size: 24px;
    padding: 8px 24px;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    line-height: 1.4;
    font-weight: 700;
  }
  &-form {
    &__icon {
      padding: 72px 16px 24px;
      background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?12295559);
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      font-size: 0;

      &-figure {
        display: inline-block;
        overflow: hidden;
        border-radius: 50%;
        vertical-align: middle;

        .profile-image {
          width: 60px;
          height: 60px;
        }
      }

      .profile-textarea {
        width: 220px;
        height: 48px;
        padding: 10px 16px 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        margin-left: 8px;
        vertical-align: middle;
      }
      .profile-textarea:focus {
        outline: 0;
        border-color: rgb(0, 153, 232);
      }
    }
    .profile-text {
      padding: 40px 16px;

      &__textarea {
        min-height: 216px;
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
        outline: 0;
        -webkit-appearance: none;
      }
      &__textarea:focus {
        outline: 0;
        border-color: rgb(0, 153, 232);
      }
      &__submit-btn {
        margin: 16px 0 0;
        background: #ea352d;
        border: #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
      &__submit-btn:hover {
        background: red;
      }
    }    
  }
}
  

