.mypage-exhibit {
  @include mypage-right();

  &__box {
    @include mypage-box();

    &--top {
      @include mypage-box-top();
      font-size: 16px;
      padding: 0 16px;
    }
    &--middle {
      background-color: #eeeeee;
      font-size: 16px;
      font-weight: bold;
      line-height: 72px;
      display: flex;
      justify-content: space-between;
      text-align: center;

      .active-white {
        background-color: $white;
        border-top: 2px solid $red;
      }
      a {
        width: 33.3%;
      }
      a:hover {
        .mypage-exhibit__box--middle--left, .mypage-exhibit__box--middle--center, .mypage-exhibit__box--middle--right {
          color: rgba(35, 35, 35, 0.5);
        }
      }
    }
    &--middle-purchase {
      background-color: #eeeeee;
      font-size: 16px;
      font-weight: bold;
      line-height: 72px;
      display: flex;
      justify-content: space-between;
      text-align: center;

      .active-white {
        background-color: $white;
        border-top: 2px solid $red;
      }
      a {
        width: 50%;
      }
      a:hover {
        .mypage-exhibit__box--middle-purchase--left, .mypage-exhibit__box--middle-purchase--right {
          color: rgba(35, 35, 35, 0.5);
        }
      }
    }
    &--bottom {

      &--list {

        &--s {
          @include mypage-box-bottom();
          
          &--left {
            width: 14%;

            &--image {
              height: 80px;
              width: 80px;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
          &--center {
            width: 85%;

            &--head {
              @include mypage-box-bottom-center-head();
            }
            &--middle {
              display: flex;
              align-items: center;

              &--good {
                
                margin-right: 10px;
                .fa-heart {
                  color: #ccc;
                }
              }
              &--comment {
                
                margin-right: 10px;
                .fa-comment-alt {
                  color: #ccc;
                }
              }
              &--schiation {
                .schiation-exhibit {
                  background-color: $blue;
                  color: $white;
                  border-radius: 3px;
                  padding: 1px 3px;
                }
                .schiation-stop {
                  background-color: $red;
                  color: $white;
                  border-radius: 3px;
                  padding: 1px 3px;
                }
                .schiation-trade {
                  background-color: rgb(255, 196, 0);
                  color: $white;
                  border-radius: 3px;
                  padding: 1px 3px;
                }
                .schiation-sold {
                  background-color: #999999;
                  color: $white;
                  border-radius: 3px;
                  padding: 1px 3px;
                }
              }
            }
            &--foot {
              margin-top: 5px;
              display: flex;

              &--exh-date {
                color: rgb(150, 150, 150);
                margin-right: 15px;
              }
              &--upd-date {
                color: rgb(150, 150, 150);
              }
            }
          }
          &--right {
            width: 1%;
            .fa-angle-right {
              font-size: 18px;
            }
          }
        }
        &--s:hover {
          background-color: #f8f8f8;
        }
      }
      &--none {
        @include mypage-box-none();
      }
    }
  }
  &__foot {
    @include mypage-foot();

    &--left {
      @include mypage-foot-landr();

      .fa-angle-left {
        @include mypage-foot-landr-icon();
      }
    }
    &--left:hover {
      background-color: #eeeeee;
    }
    &--right {
      @include mypage-foot-landr();

      .fa-angle-right {
        @include mypage-foot-landr-icon();
      }
    }
    &--right:hover {
      background-color: #eeeeee;
    }
  }
}
.mypage-exhibit:after {
  clear: both;
}