* {
  box-sizing: border-box;
}
.sell-content__box>a:hover {
  opacity: 0.7;
}

.sell-wrapper {
  background-color: rgb(245, 245, 245);
  color:#333333;
  &__content {
    background-color: #ffffff;
    width: 700px;
    font-size: 14px;
    margin: 0 auto;
  }
}

.sell-content {
  &__header {
    text-align: center;
    font-size: 22px;
    line-height: 33px;
    border-bottom: solid 1px #f5f5f5;
    padding: 32px 40px;
    h2 {
      font-weight: bold;
    }
  }
  &__upload {
    padding:40px;
    border-bottom: solid 1px #f5f5f5;
    &__title{
      font-size: 16px;
      font-weight: bold;
    }
    &__lead {
      margin-top: 3px;
      line-height: 1.5;
    }
    &__box {
      width: 620px;
      height: 162px;
      margin:16px auto 0;
      border:1px dashed #ccc;
      background:#f5f5f5;
      &__inner-text {
        word-wrap:break-word;
        text-align:center;
        line-height:11;
      }
    }
    &__Preview {
      width: 123px;
      height:158px;
      text-align:center;
      img {
        width:123px;
        height:116px;
        object-fit: contain;
      }
      a {
        line-height:30px;
        text-decoration:underline;
        cursor: pointer;
      }
    }
  }
  &__box {
    padding:40px;
    border-bottom: solid 1px #f5f5f5;
    &__title{
      font-size: 16px;
      font-weight: bold;
    }
    &__lead {
      margin-top: 3px;
      line-height: 1.5;
    }
    &__subtitle {
      font-size: 14px;
      font-weight: bold;
      color:#888;
      float:left;
    }
  }
}
.price-box {
  float:right;
  width:400px;
  &__group {
    list-style-type:none;
    &__column {
      line-height:48px;
      margin-bottom:24px;
    }
    &__list {
      padding:24px 0;
      border-top:1px solid #ccc;
    }
    &__left {
      width:50%;
      display:inline-block;
    }
    &__right {
      width:50%;
      text-align:right;
      display:block;
      float:right;
      &__input {
        display:inline-block;
        width:80%;
        margin:0 0 0 5px;
        &__box {
          width:100%;
          height:48px;
          padding:10px 16px 8px;
          border-radius: 4px;
          border:1px solid #ccc;
          line-height:1.5;
          font-size:16px;
          text-align:right;
        }
      }
    }
  }
}
.sell-form-box {
  float:right;
  width: 400px;
  &__mask {
    position: relative;
    &__select{
      width: 100%;
      height: 48px;
      padding-left: 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 16px;
      line-height: 1.5;
      margin: 8px 0 0;
      background-color: white;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
    &__icon {
      color:gray;
      font-size:25px;
      position: absolute;
      right:15px;
      top:19px;
    }
  }
}
.sell-submit-btn {
  background:$red;
  color:#fff;
  width:100%;
  line-height:48px;
  font-size:14px;
  text-align:center;
}
.sell-back-btn {
  background:#aaa;
  color:#fff;
  width:45%;
  line-height:48px;
  font-size:14px;
  text-align:center;
  margin:24px auto 0;
  transition:all ease-out .3s;
}

.sell-back-btn:hover {
  opacity: 0.7;
}
.must {
  @include required-icon();
}
.clearfix {
  @include clearfix() ;
}
.sell-link-text {
  @include sell-link-text();
}
.sell-form-title {
  font-weight:600;
}

.sell-input-normal {
  width:100%;
  margin-top:8px;
  height:48px;
  padding:10px 16px 8px;
  border-radius: 4px;
  border:1px solid #ccc;
  line-height:1.5;
  font-size:16px;
}
.sell-textarea-normal {
  width: 100%;
  display:block;
  max-width:100%;
  margin: 8px 0 0;
  padding:10px;
  border:1px solid #ccc;
  font-size:16px;
  line-height: 1.5;
}
.div{
  color:black;
}