.detail-background {
  background-color: rgb(245, 245, 245);
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  .top-box {
    width: 700px;
    margin: 0 auto;
    padding-top: 40px;

    &__top {
      background-color: $white;
      padding: 24px 40px 40px;
      
      &--bar {
        font-size: 24px;
        text-align: center;
        word-wrap: break-word;
        font-weight: bold;
      }
      &--detail {
        width: 620px;
        margin-top: 16px;
        display: flex;

        &--left {
          background-color: #fafafa;
          height: 420px;
          width: 300px;
          overflow: hidden;

          &--main-photo {
            height: 300px;
            width: 3000px;
            position: relative;
            
            &--list {
              height: 300px;
              width: 300px;
              position: absolute;
              
              img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                position: absolute;
                margin: auto;
              }
            }
          }
          &--sub-photo {
            height: 120px;
            width: 300px;
            display: flex;
            flex-wrap: wrap;

            &--s {
              height: 60px;
              width: 60px;
              cursor: pointer;

              img {
                object-fit: cover;
                height: 100%;
                width: 100%;
              }
            }
          }
        }
        &--right {
          background-color: #fafafa;
          width: 300px;
          font-size: 14px;
          border-top: 1px solid #f5f5f5;
          border-left: 1px solid #f5f5f5;
          border-right: 1px solid #f5f5f5;
          margin: 0 auto; 

          a {
            color: $blue;
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
            opacity: 0.7;
          }
          &--author {
            @include top-box__detail--right--content();
            
            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--name {
              @include top-box__detail--right--content--col();
              display: flex;
          
              &--link {

                &--evaluation {
                  color: #333;
                  display: flex;
                  padding-top: 8px;

                  &--mark {
                    display: flex;
                    margin-right: 10px;

                    .fa-grin {
                      color: rgb(255, 71, 101);
                      font-size: 15px;
                      margin-right: 5px;
                    }
                    .fa-meh{
                      color: rgb(255, 196, 0);
                      font-size: 15px;
                      margin-right: 5px;
                    }
                    .fa-frown {
                      color: rgba(10, 154, 250, 0.945);
                      font-size: 15px;
                      margin-right: 5px;
                    }
                    &--num {

                    }
                  }
                }
              }
            }
          }
          &--category {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--link {
              @include top-box__detail--right--content--col();
              color: $blue;
              flex-direction: column;

              &--l {
                display: inline;
              }
              &--m {
                display: inline-block;
              }
              &--s {
                display: inline-block;
              }
            }
          }
          &--brand {
            @include top-box__detail--right--content();
          
            &--menu {
              @include top-box__detail--right--content--menu();
            }
            
            &--link {
              @include top-box__detail--right--content--col();
              color: $blue;
            }
          }
          &--size {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--content {
              @include top-box__detail--right--content--col();
              padding: 11px;
            }
          }
          &--status {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--content {
              @include top-box__detail--right--content--col();
            }
          }
          &--delivery-fee {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--content {
              @include top-box__detail--right--content--col();
            }
          }
          &--delivery-way {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--content {
              @include top-box__detail--right--content--col();
            }
          }
          &--address {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--link {
              @include top-box__detail--right--content--col();
              color: $blue;
            }
          }
          &--delivery-date {
            @include top-box__detail--right--content();

            &--menu {
              @include top-box__detail--right--content--menu();
            }
            &--content {
              @include top-box__detail--right--content--col();
            }
          }
        }
      }
      &--price {
        display: flex;
        justify-content: center;
        margin-top: 24px;

        &--reft {
          font-size: 50px;
          font-weight: 500;
          margin-right: 16px;
          line-height:42px;
          font-family: 'Source Sans Pro';
          font-weight:600;
        }
        &--right {
          display: flex;

          &--tax {
            font-size: 10px;
            align-items: flex-end;
            margin-right: 5px;
          }
          &--fee {
            font-size: 16px;
            align-items: flex-end;
          }
        }
      }
      &--buy-btn {
        background-color: #ea352d;
          color: $white;
        font-size: 24px;
        font-weight: 600;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        text-align: center;
      }
      &--sold-btn {
        background-color: #888;
          color: $white;
        font-size: 24px;
        font-weight: 600;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        text-align: center;
      }
      a {
        text-decoration: none;
        opacity: 1;
      }
    }
    &__middle {
      background-color: $white;
      font-size: 18px;
      line-height: 1.5;

      &--explanation {
        padding: 0 40px;
        
        &--content {
          line-height: 2;
        }
      }
    }
    &__bottom {
      background-color: $white;
      font-size: 14px;
      display: flex;
      padding: 16px 40px 40px;
      place-content: space-between;

      .top-box__bottom--left {
        display: flex;
        a {
          cursor: pointer;
          color: #333;
        }
        &--nogood {
          border: 1px solid #f5f5f5;
          background-color: #f5f5f5;
          padding: 8px 16px;
          border-radius: 40px;
          margin-right: 16px;
          
          &--icon {
            .fa-heart {
              color: rgb(180, 180, 180);
            }
          }
        }
        .top-box__bottom--left--good {
          color: $red;
          border: 1px solid $red;
          background-color: $white;
          padding: 8px 16px;
          border-radius: 40px;
          margin-right: 16px;
          display: none;
          
          .top-box__bottom--left--good--icon {
            .fa-heart {
              color: $red;
              animation: bound 1.2s linear 1;
              @keyframes bound {
                0% {transform: scale(1);}
                50% {transform: scale(1.3,0.6);}
                70% {transform: scale(0.7,1.4);}
                80% {transform: scale(1.1,0.9);}
                90% {transform: scale(0.9,1.1);}
                100% {transform: scale(1);}
              }
            }
          }
        }
        .top-box__bottom--left--good-logout {
          border: 1px solid #f5f5f5;
          background-color: #f5f5f5;
          padding: 8px 16px;
          border-radius: 40px;
          margin-right: 16px;
          
          .top-box__bottom--left--good-logout--icon {
            .fa-heart {
              color: rgb(180, 180, 180);
            }
          }
        }
        .top-box__bottom--left--bad {
          border: 1px solid #f5f5f5;
          background-color: #f5f5f5;
          padding: 8px 16px;
          border-radius: 40px;
          
          .fa-flag {
            margin-right: 2px;
          }
        }
        .top-box__bottom--left--bad:hover {
          opacity: 0.7;
        }
      }
      a {
        color: $blue;
        text-decoration: none;

        .top-box__bottom--right {
          padding: 8px 0px;

          .fa-lock {
            margin-right: 5px;
          }
        }
        .top-box__bottom--right:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .second-box {
    background-color: $white;
    width: 700px;
    margin: 8px auto;
    padding: 24px;

    &__head {

      &--left {
        float: left;
        display: flex;
        flex-direction: column;

        &--photo {
          height: 40px;
          width: 40px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
          }
        }
        &--author {
          background-color: #eef0f4;
          color: #333;
          font-size: 12px;
          margin: 8px 0 0;
          padding: 4px;
          width: 44px;
        }
      }
      &--left:hover {
        opacity: 0.7;

        .second-box__head--left--author {
          text-decoration: underline;
        }
      }
      &--right {
        float: right;
        width: 600px;
        font-size: 14px;
        position: relative;

        .second-box__head--right--callout {
          position: absolute;
          font-size: 33px;
          top: 16px;
          left: -10px;
          color: #eef0f4;
        }
        a {
          color: #333;
          text-decoration: none;
          display: inline-block;
        }
        &--name {
          font-weight: 600;
        }
        &--name:hover {
          opacity: 0.7;
        }
        &--coment {
          padding: 16px;
          background-color: #eef0f4;
          border-radius: 15px;
          line-height: 1.5;

          &--content {

          }
          &--detail {
            display: flex;
            justify-content: space-between;

            &--time {
              color: rgb(180, 180, 180);
              margin-top: 8px;
            }
            &--bad {
              color: rgb(180, 180, 180);
              margin-top: 8px;
            }
          }
        }
      }
    }
    &__foot {
      clear: both;
      padding-top: 24px;

      &--warning {
        padding: 8px;
        font-size: 14px;
        background-color: #fff6de;
      }
      &--text-field {
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 16px;
        line-height: 1.5;
        margin-top: 8px;
      }
      a {
        color: $white;
        text-decoration: none;
      }
      &--submit-btn {
        width: 100%;
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 48px;
        text-align: center;
        background-color: #aaa;
        border: 1px solid #aaa;
        color: #fff;
      }
    }
  }

  .link-bar {
    color: $blue;
    width: 700px;
    font-size: 14px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;

    a {
      color: $blue;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
    &--left-link {
      max-width: 315px;
      display: flex;

      .fa-angle-left {
        font-size: 20px;
        margin-right: 5px;
      }
    }
    &--right-link {
      max-width: 315px;
      display: flex;
      text-align: end;

      .fa-angle-right {
        font-size: 20px;
        margin-left: 5px;
      }
    }
  }

  .third-box {
    background-color: $white;
    width: 700px;
    margin: 24px auto;
    padding: 32px 0 24px;
    
    &__head {

    }
    &__foot {
      color: $white;
      display: flex;
      justify-content: center;

      a {
        color: $white;
        text-decoration: none;
      }
      &--facebook {
        @include third-box__foot--logo();
        background-color: #385185;
        font-size: 26px;
      }
      &--facebook:hover {
        opacity: 0.7;
      }
      &--twitter {
        margin: 0 8px;

        &--box {
        @include third-box__foot--logo();
        background-color: #5D9DC9;
        font-size: 30px;
        }
        &--box:hover {
          opacity: 0.7;
        }
      }
      &--pinterest {
        @include third-box__foot--logo();
        background-color: #AA262A;
        font-size: 18px;
      }
      &--pinterest:hover {
        opacity: 0.7;
      }
    }
  }
  .forth-box-none {
    width: 700px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 24px auto 0;
    padding-bottom: 24px;
  }
  .forth-box {
    width: 700px;
    margin: 24px auto 0;

    a {
      color: #333;
      text-decoration: none;
    }
    &__header {
      color: $blue;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 8px;
      display: inline-block;
    }
    &__header:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
    &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
      row-gap: 20px;
      padding-bottom: 20px;

      &--content {
        height: 330px;
        width: 220px;
        margin-bottom: 16px;

        .forth-box__body--content--head {

          .forth-box__body--content--head--photo {
            height: 220px;
            width: 220px;
            position: relative;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .forth-box__body--content--foot--detail {
          background-color: $white;
          padding: 16px;

          .forth-box__body--content--foot--detail--name {
            font-size: 16px;
            position: relative;
            overflow: hidden;
            height: 3em;
            line-height: 1.5;

            .forth-box__body--content--foot--detail--name--hide {
              height: 25px;
              width: 65px;
              background: linear-gradient(90deg,hsla(0,0%,100%,0),$white 50%);
              right: 0;
              bottom: 0;
              position: absolute;
            }
          }
          .forth-box__body--content--foot--detail--bottom-bar {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;

            .forth-box__body--content--foot--detail--bottom-bar--price {
              font-size: 18px;
              font-weight: bold;
            }
            .forth-box__body--content--foot--detail--bottom-bar--good {
              display: flex;

              .forth-box__body--content--foot--detail--bottom-bar--good--content {
                font-size: 14px;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}