*{
  box-sizing: border-box;
}

p{
  margin-top: 8px;
}

body{
  background-color: #f5f5f5;
  position: relative;
  min-height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

h1{
  margin: 40px 0 0;
  display: inline-block;
}
.form-group label{
  font-weight: 600;
  display:inline-block;
}

.form-must{
  background-color: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align:  top;
}

.input-default-1{
  width:100%;
  margin:8px 0 0;
  padding:10px 16px 8px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: calc(50%-6px);
  &__half{
    width: 165.5px;
    height: 48px;
    margin: 8px 0 0;
    padding: 10px 16px 8px;
  }
}


.signup1-container__header__progress__lists__text{
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
}

.form-group{
  margin-top: 32px;
  width: 100%;
}

h3{
  font-size: 16px;
  font-weight: bold;
}

.form-nickname{
  margin-top: 0;
}

.signup1-container{
  padding: 0 0 220PX;
  &__header{
    height: 128px;
    text-align: center;
    &__progress{
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      &__lists{
        display: flex;
        &__text{
          list-style: none;
          margin: 0 40px 0 0;
          min-width: 60px;
        }
        &__dot{
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
          background: #ccc;
        }
      }
    }
  }
  &__main{
    display: block;
    &__view{
      background-color: #fff;
      width: 700px;
      margin: 0 auto;
      &__info{
        padding: 32px;
        font-size:  22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      &__form{
        padding: 40px 40px 64px;
        border-top: 1px solid #f5f5f5;
        &__box{
          max-width: 343px;
          margin: 0 auto;
          &__input{
            width: 100%;
            &__birthday{
              display: block;
              margin-top:8px;
              &__year{
                display: inline-block;
                width:76px;
                position: relative;
              }
              &__month{
                display: inline-block;
                width: 76px;
                position: relative;
              }
              &__day{
                display: inline-block;
                width:76px;
                position: relative;
              }
            }
          }
          &__middle--text{
              margin:8px 0 0;
          }
          &__complete{
            text-align: center;
          }
        }
      }
    }
  }
}



.last{
  margin: 0;
}

.before:before{
  right: 50%;
  position: absolute;
  bottom: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  z-index: -2;
  }

.before-active:before{
  right: 50%;
  position: absolute;
  bottom: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ea352d;
}


.after:after{
  left: 50%;
  position: absolute;
  bottom: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  z-index: -2;
  }

.after-active:after{
  left: 50%;
  position: absolute;
  bottom: 5px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #ea352d;
}

.btn-default1{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  background-color: #ea352d;
  border:1px solid #ea352d;
  color: #fff;
  margin-top: 32px;
}

.signup1-footer{
  position: abusolute;
}

.right{
  text-align: right;
  color: #0099e8;
}

.card{
  margin-top: 8px;
}

.card-logos{
  display: flex;
  text-align: left;
  &__logo{
  }
}

.active{
  font-weight: 600;
  color: #ea352d;
  &__dot{
    background: #ea352d;
  }
}

.select-default{
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 10px 30px;
  background-position: right 10px center;
  font-size: 8px;
  height: 48px;
  width:76px;
  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  z-index: -1;
}

.select-default-long{
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 10px 30px;
  background-position: right 10px center;
  font-size: 8px;
  height: 48px;
  width:100%;
  background-color:white;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
  z-index: 1;
  margin-top: 8px;
  position: relative;
}

.select-default-log__down{
  position: absolute;
  top: 35%;
  z-index: 5;
  color:gray;
  font-size: 8px;
  right: 3px;
  height: 16px;
  width: 16px;
}

.pull-down{
  position: absolute;
  top: 35%;
  z-index: 2;
  color:gray;
  font-size: 8px;
  right: 3px;
  height: 16px;
  width: 16px;
}

.date-limit{
  background-color: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align:  top;
  display: inline-block;
}

.block{
  display: block;
}

.relative{
  position: relative;
}

.long{
  padding-top:15px;
  bottom:20px;
}

.vh{
  height: 65vh;
}

.footer {
  &__head {
    height: 250px;
    width: auto;
    background-image: url("https://web-jp-assets.mercdn.net/_next/static/images/download_app_bg-b57d6f1a32f2aebd89cf6f43bc2e4b39.jpg");

    &__area {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0px auto;
      position: relative;

      &--left {
        padding: 60px 30px;

        &--top {
          color: white;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
        &--middle {
          color: white;
          font-size: 35px;
          margin-bottom: 10px;
        }
        &--bottom {
          display: flex;
          align-items: center;

          &--mercari-logo {

            .mercari-logo-s {
              height: 68px;
              width: 68px;
              margin-right: 20px;
            }
          }
            
          &--app-store {

            .app-store-s {
              height: 40px;
              width: 144px;
              margin-right: 8px;
            }
          }
          &--google-play {

            .google-play-s {
              height: 40px;
              width: 144px;
            }
          }
        }
      }
      &--right {
        position: absolute;
        bottom: 1px;
        right: 0;

        .phone-img-s {
          height: 200px;
          width: auto;
        }
      }
      &--page-icon {
        text-align: center;
      }     
    }
  }
}

.vh4{
  height: 65vh;
}
