.wrapper{
  margin: 0;
  box-sizing: border-box;
}


.mercari-logo{
  padding-top: 40px;
  margin: 0 8px 0 0;
}

.single-container{
  width: 100vw;
  background-color: #f5f5f5;
  position: relative;
  &__header{
    height: 128px;
    text-align: center;
    
  }
  &__main{
    &--box{
      margin: 0 auto;
      width:700px;
      background-color: white;
      text-align: center;
      &__registration{
        font-size: 22px;
        padding: 32px;
        display: block;
        font-weight: bold;
      }
      &__form{
        padding: 40px 40px 64px;
        border-top: 1px solid #f5f5f5;
        &__content{
          max-width: 343px;
          margin: 0 auto;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  &__footer{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px 0;

    &--logo{
      margin: 40px auto 0;
    }
    &--copyright{
      font-size: 12px;
      margin: 8px 0 0;
    } 
  }
}

.rules{
  padding: 0;
  &__1{
    margin: 0 0 0 16px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
  }
  &__2{
    margin: 0 0 0 16px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
  }
  &__3{
    margin: 0 0 0 16px;
    font-size: 12px;
    list-style: none;
    display: inline-block;
  }
}

.btn{
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  &__mail{
    background-color: #ea352d;
    color: #fff;
    position: relative;
    display: block;
    a{
      text-decoration: none;
      color: white;
    }
  }
  &__mail:hover {
    opacity: 0.7;
  }
  &__fb{
    background-color: #385185;
    color: #fff;
    margin: 16px 0 0;
    position: relative;
    display: block;
    a{
      text-decoration: none;
      color: white;
    }
  }
  &__google{
    z-index: 4;
    margin: 16px 0 0;
    background-color: #fff;
    border: #979797 solid 1px;
    color: #333;
    position: relative;
    display: block;
    a{
      text-decoration: none;
      color: #333;
    }
  }
}

.in{
  padding:0;
}

.signin-wrapper{
  background-color: #f5f5f5;
}

.margin-fix{
  margin-bottom: -250px;
}

.main-padding{
  padding-bottom:100px;
}

.main-padding2{
  padding-bottom:120px;
}

.main-padding3{
  padding-bottom:50px;
}

.main-padding-done{
  padding-bottom: 60px;
}