- @items.each do |item|
  = link_to item_path(item.id) do
    .item
      .gradient
      .image
        - item.images.first(1).each do |image|
          = image_tag image, class: "item-img"
        .price
          ¥
          = item.price
      .detail
        = item.name
