.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
.item
  %a.gradient
  %a.image
    %img.item-img{alt: "nike dbreak sp university red 27.5", "data-src": "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920", src: "https://static.mercdn.net/thumb/photos/m34174688110_1.jpg?1570196920"}
    .price
      ¥10,000
  %a.detail
    美品！！ ナイキ シューズ 白赤 NIKE ORDERS
