%ul.header__body__foot--right--notice--dropdwn--list
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        事務局から個別メッセージ「お近くで開催予定！「メルカリ教室 出品体験編」のご案内」
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        1 日前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        【明日が最終日】”1,000円分のポイントが必ずもらえる”キャンペーン詳細はこちら！
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        2 日前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        【1,000円分のポイントが必ずもらえる】キャンペーン実施中！詳細はこちら！
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        4 日前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        かゆい所に手が届く！厚めの商品発送にオススメの「ゆうパケットプラス」が新登場！
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        5 日前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right