%ul.header__body__foot--right--notice--dropdwn--list
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        明日、P999還元クーポンの有効期限が切れます！タップして詳細を確認しましょう
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        5分前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        《友達・家族を招待すると必ずP1,000プレゼント》招待コードをシェアしてメルカリに登録しよう
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        5分前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        3日後、P999還元クーポンの有効期限が切れます！タップして詳細を確認しましょう
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        3日前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right
  %li.header__body__foot--right--notice--dropdwn--list--s
    .header__body__foot--right--notice--dropdwn--list--s--left
      = image_tag "https://static.mercdn.net/images/mercari_profile.png"
    .header__body__foot--right--notice--dropdwn--list--s--center
      .header__body__foot--right--notice--dropdwn--list--s--center--detail
        《ご登録記念》¥1,000の商品を「実質1円」でご購入いただけます！
      .header__body__foot--right--notice--dropdwn--list--s--center--time
        %i.far.fa-clock
        3日前
    .header__body__foot--right--notice--dropdwn--list--s--right
      %i.fas.fa-chevron-right