.background
  %a.exhibit-btn
    .exhibit-btn__body
      出品
    %svg.camera-img{"aria-hidden": "true", height: "16", viewbox: "0 0 18 16", width: "18"}
      %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule": "nonzero"}
  .header
    .header__body
      .header__body__head
        %a.header__body__head--left
          %img.mercari-logo-l{src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
        .header__body__head--right
          .header__body__head--right--form-field
            -# = f.action="search/", class="search-field-top"
            -#   %input#search_id_top-page{type: "search", name: "keyword", placeholder="何かお探しですか？" value=""}
            -#   %button.search-btn{svg aria-hidden="true" width="16" height="16" viewBox="0 0 16 16" class="sc-jDwBTQ sc-kgAjT gKFuLS"><path fill="currentColor" fill-rule="nonzero" d="M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z"></path></svg>}
            %a.header__body__head--right--form-field--search-submit
              %i.fa.fa-search{"aria-hidden": "true"}
      .header__body__foot
        .header__body__foot--left
          %a.header__body__foot--left--category
            %i.fa.fa-list-ul{"aria-hidden": "true"}
            %js カテゴリーから探す
          %a.header__body__foot--left--brand
            %svg.tag-img{"aria-hidden": "true", viewbox: "0 0 23 16"}
              %path{d: "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", fill: "currentColor", "fill-rule": "nonzero"}
            ブランドから探す
        .header__body__foot--right
          
          %a.header__body__foot--right--signup
            新規会員登録
          %a.header__body__foot--right--login
            ログイン
  .area
    .area__carousel
      .area__carousel__body
        .area__carousel__body--left
          .area__carousel__body--left--top
            スマホでかんたん
            %br/
            フリマアプリ
          .area__carousel__body--left--middle 
            メルカリはスマホカメラからすぐに出品できる
            %br/
            購入時も安全な独自システムのアプリです
          .area__carousel__body--left--bottom
            %a.area__carousel__body--left--bottom--app-store
              %img.app-store-l{src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
            %a.area__carousel__body--left--bottom--google-play
              %img.google-play-l{src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
        .area__carousel__body--right
          %img.phone-img-l{src: "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
        .area__carousel__body--page-icon
          
    .area__popular-category
      .area__popular-category__head
        .area__popular-category__head--title
          人気のカテゴリー
        .area__popular-category__head--nav
          %a.area__popular-category__head--nav--link-btn
            レディース
          %a.area__popular-category__head--nav--link-btn
            メンズ
          %a.area__popular-category__head--nav--link-btn
            家電・スマホ・カメラ
          %a.area__popular-category__head--nav--link-btn
            おもちゃ・ホビー・グッズ
      .area__popular-category__body
        .area__popular-category__body__list
          .area__popular-category__body__list--top
            .area__popular-category__body__list--top--left
              メンズ新着アイテム
            %a.area__popular-category__body__list--top--right
              もっと見る
              %i.fa.fa-chevron-right{"aria-hidden": "true"}
          .area__popular-category__body__list--bottom
            = render "item"
    .area__popular-brand
      .area__popular-brand__head
        .area__popular-brand__head--title
          人気のブランド
        .area__popular-brand__head--nav
          %a.area__popular-brand__head--nav--link-btn
            シャネル
          %a.area__popular-brand__head--nav--link-btn
            ルイヴィトン
          %a.area__popular-brand__head--nav--link-btn
            シュプリーム
          %a.area__popular-brand__head--nav--link-btn
            ナイキ
      .area__popular-brand__body
        .area__popular-brand__body__list
          .area__popular-brand__body__list--top
            .area__popular-brand__body__list--top--left
              ナイキ新着アイテム
            %a.area__popular-brand__body__list--top--right
              もっと見る
              %i.fa.fa-chevron-right{"aria-hidden": "true"}
          .area__popular-brand__body__list--bottom
            = render "item"
            
    .footer
      .footer__head

        .footer__head__area
          .footer__head__area--left
            .footer__head__area--left--top
              スマホでかんたんフリマアプリ
            .footer__head__area--left--middle
              今すぐ無料ダウンロード！
            .footer__head__area--left--bottom
              .footer__head__area--left--bottom--mercari-logo
                %img.mercari-logo-s{src: "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}
              %a.footer__head__area--left--bottom--app-store
                %img.app-store-s{src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
              %a.footer__head__area--left--bottom--google-play
                %img.google-play-s{src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
          .footer__head__area--right
            %img.phone-img-s{src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}
      .footer__foot
        .footer__foot__body
          .footer__foot__body--top
            .footer__foot__body--top--about
              .footer__foot__body--top--about--name
                メルカリについて
              .footer__foot__body--top--about--list
                %a.footer__foot__body--top--about--list--s
                  会社概要（運営会社）
                %a.footer__foot__body--top--about--list--s
                  採用情報
                %a.footer__foot__body--top--about--list--s
                  プレスリリース
                %a.footer__foot__body--top--about--list--s
                  公式ブログ
                %a.footer__foot__body--top--about--list--s
                  メルカリロゴ利用ガイドライン
                .footer__foot__body--top--about--list--icon
                  %a.footer__foot__body--top--about--list--twitter
                    %svg.twitter-logo{"aria-hidden": "true", viewbox: "0 0 21 16"}
                      %path{d: "M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796", fill: "currentColor", "fill-rule": "evenodd"}
                  %a.footer__foot__body--top--about--list--facebook
                    %svg.facebook-logo{"aria-hidden": "true", viewbox: "0 0 16 16"}
                      %path{d:"M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z", fill: "currentColor", "fill-rule": "evenodd"}
            .footer__foot__body--top--help
              .footer__foot__body--top--help--name
                ヘルプ＆ガイド
              .footer__foot__body--top--help--list
                %a.footer__foot__body--top--help--list--s
                  メルカリガイド
                %a.footer__foot__body--top--help--list--s
                  らくらくメルカリ便
                %a.footer__foot__body--top--help--list--s
                  ゆうゆうメルカリ便
                %a.footer__foot__body--top--help--list--s
                  大型メルカリ便
                %a.footer__foot__body--top--help--list--s
                  車体取引ガイド
                %a.footer__foot__body--top--help--list--s
                  メルカリあんしん・あんぜん宣言！
                %a.footer__foot__body--top--help--list--s
                  偽ブランド品撲滅への取り組み
                %a.footer__foot__body--top--help--list--s
                  メルカリボックス
            .footer__foot__body--top--privacy
              .footer__foot__body--top--privacy--name
                プライバシーと利用規約
              .footer__foot__body--top--privacy--list
                .footer__foot__body--top--privacy--list--left
                  %a.footer__foot__body--top--privacy--list--left--s
                    プライバシーポリシー
                  %a.footer__foot__body--top--privacy--list--left--s
                    メルカリ利用規約
                  %a.footer__foot__body--top--privacy--list--left--s
                    あんしんスマホサポート制度に関する利用特約
                  %a.footer__foot__body--top--privacy--list--left--s
                    コンプライアンスポリシー
                .footer__foot__body--top--privacy--list--right
                  %a.footer__foot__body--top--privacy--list--right--s
                    個人データの安全管理に係る基本方針
                  %a.footer__foot__body--top--privacy--list--right--s
                    特定商取引に関する表記
                  %a.footer__foot__body--top--privacy--list--right--s
                    資金決済法に基づく表示
                  %a.footer__foot__body--top--privacy--list--right--s
                    法令順守と犯罪抑止のために
            .footer__foot__body--top--country
              .footer__foot__body--top--country--name
                国
              .footer__foot__body--top--country--list
                %a.footer__foot__body--top--country--list--s
                  日本
                %a.footer__foot__body--top--country--list--s
                  United States
          .footer__foot__body--bottom
            %a.footer__foot__body--bottom--left
              %img.mercari-logo-white{src: "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}
            .footer__foot__body--bottom--right
              © 2019 Mercari